@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, sans-serif;
  color: #0f172a;
  background-color: #ecfdf5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617;
}